#container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
#tamanho-footer{
    height: 200px;
}
@media only screen and (max-width: 800px) {
   #container{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 35px;
    grid-template-columns: 200px;
   }
}